# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Binaries for programs and plugins
bin/
pkg/
vendor/

# Go build cache
/backend/go.sum

# Node
# Front-end
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# Tauri workspace
Sentencease/node_modules/
Sentencease/src-tauri/target/
Sentencease/src-tauri/gen/
# Android & Gradle build output
Sentencease/src-tauri/gen/android/**/build/
Sentencease/src-tauri/gen/android/.gradle/

# local env files
.env*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Remove database volumes
.postgres-data/ 
node_modules/